@model List<Patient>

<div class="container">
    <div class="row pt-4 pb-3">
        <div class="col-6">
            <h2 class="text-primary">Hasta Listesi</h2>
        </div>
        <div class="col-6 text-end">
            <a asp-controller="Patient" asp-action="Create" class="btn btn-primary">
                <i class="bi bi-plus-circle"></i> Yeni Hasta Ekle
            </a>
        </div>
    </div>

    <table class="table table-bordered table-striped">
        <thead>
            <tr>
                <th>Ad</th>
                <th>Soyad</th>
                <th>Doğum Tarihi</th>
                <th>Cinsiyet</th>
                <th>Telefon</th>
                <th>İşlemler</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var obj in Model)
            {
                <tr>
                    <td>@obj.FirstName</td>
                    <td>@obj.LastName</td>
                    <td>@obj.DateOfBirth.ToShortDateString()</td>
                    <td>@obj.Gender</td>
                    <td>@obj.PhoneNumber</td>
                    <td>
                        <div class="w-75 btn-group" role="group">
                            <a asp-controller="Patient" asp-action="Edit" asp-route-id="@obj.Id" class="btn btn-warning mx-2">
                                Düzenle
                            </a>
                            <a asp-controller="Visit" asp-action="Index" asp-route-patientId="@obj.Id" class="btn btn-info mx-2">
                                Muayeneler
                            </a>
                            <a asp-controller="Patient" asp-action="Delete" asp-route-id="@obj.Id" class="btn btn-danger mx-2">
                                Sil
                            </a>

                        </div>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>